" Options

set clipboard+=unnamed
set timeoutlen=500
set relativenumber
set number


" Mappings

let mapleader = " "

imap jj <Esc>

vmap <leader>c :action CommentByLineComment<CR>
nmap <leader>u :action FindUsages<CR>
nmap <leader>i :action GotoImplementation<CR>
nmap <leader>d :action GotoDeclaration<CR>

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nnoremap <c-a> ggVG                                 " Select all

nmap <Leader>or :action ManageRecentProjects<CR>
nmap <Leader>e :action SelectInProjectView<CR>
nmap <Leader>ff :action FindInPath<CR>
nmap <Leader>rr :action RenameElement<CR>
